$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "default.scss";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.nav-tabs{
    padding: 0 10px !important;
    li{
        cursor: pointer;
    }
}

/* 
 * Dashbord
 */

#menu{
    width: 160px;
    #menu_content{
        border: 3px solid #428bca;
        margin-top: 3px;
    }

    ul{
        background: #fff;

        a{
            @include vendor-prefix(border-radius, 0);
            cursor: pointer;
        }

        .title{
            font-weight: bold;
        }

        .countries{
            position: relative;

            &:hover .sub-menu,.sub-menu:hover {
                display: block;
            }
        }

        .sub-menu{
            display: none;
            left: 0;
            top: 0;
            margin: -3px 0 0 122px;        
            position: absolute;
            width: 100px;
            border: 3px solid #428bca;
        }
    }
}

#btn-settings{
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 42px;
    margin-right: 0;
    outline: none;
}

#settings:hover #btn-settings{
    display: block;
}

#settings{
    border: 4px solid rgba(247, 247, 247, 0.57);
    padding: 10px;
    background-color: #7BBEDD;
    position: fixed;
    right: 0;
    z-index: 100;
    width: 280px;
    margin-right: 20px;

    #menu_colorpick{
        
        h4{
            background-color: #f5f5f5;
            padding: 5px;
            border-top: 4px solid #156C7C;
        }

        #general_title{
            cursor: pointer;
        }

        #general_menu, #sections_menu{
            margin-left: 20px;
            li{
                margin: 10px 0; 
                overflow: hidden;

                .btn_left{
                    float: left;
                }     

                .right_inputs{
                    float: right;
                }     
            }
        }      

    }

    .colorpicker_input{
        width: 68px;
    }

    #result_tracking{
        overflow: auto;
        height: 100px;
        border: 2px solid #fff;
        width: 286px;
        white-space: -moz-pre-wrap; 
        white-space: -pre-wrap; 
        white-space: -o-pre-wrap; 
        white-space: pre-wrap;
        word-wrap: break-word; 
    }

}

#form_replace-links{
    input{
        margin-bottom: 22px;
        width: 560px;
    }
}

/* 
 * Newsletter
 */

.newsletter{
   
    .section{
   	
    	td{position: relative;
    		&:hover{
    			border: 1px dotted;
    		}

    		.croix{
		    	position: absolute;
		    	right: 0;
		    }
    	}
    }

    #options_sections{
        position: absolute;
        left: 0;
    }

}

.colpick_hex{
    z-index: 200;
}

/* 
 * Page generate
 */

#generate{
    margin-top: 30px;

    #generate_container{
        .generate_content{
            li{
                float: left;
                margin: 0 10px;
                
                button{
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin-top: 35px;
                }

                &:hover button{
                    display: block;
                }
            }
        }
    }
   
}

/* 
 * Drag and drop
 */

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
