$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "default.scss";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.nav-tabs{
    padding: 0 10px !important;
    li{
        cursor: pointer;
    }
}

/* 
 * Dashbord
 */

#menu{
    width: 160px;
    #menu_content{
        border: 3px solid #428bca;
        margin-top: 3px;
    }

    ul{
        background: #fff;

        a{
            @include vendor-prefix(border-radius, 0);
            cursor: pointer;
        }

        .title{
            font-weight: bold;
        }

        .countries{
            position: relative;

            &:hover .sub-menu,.sub-menu:hover {
                display: block;
            }
        }

        .sub-menu{
            display: none;
            left: 0;
            top: 0;
            margin: -3px 0 0 122px;        
            position: absolute;
            width: 100px;
            border: 3px solid #428bca;
        }
    }
}

#render{
    height: 200px;
    width: 250px;
    clear: both;
    padding: 10px;
    float: left;
    overflow: auto;
    margin-left: 10px;
    outline: none;
    border: 1px solid #ccc;

    textarea{
        height: 173px;
        width: 100%;
        border: 0;

        &:focus{
            outline: none;
        }
    }

    &:active,&:focus{
        border: 2px solid #ccc;
    }
}

// #btn-settings{
//     position: fixed;
//     right: 0;
//     top: 0;
//     margin-top: 42px;
//     margin-right: 0;
//     outline: none;
// }

// #settings:hover #btn-settings{
//     display: block;
// }

#settings{
    border: 4px solid rgba(247, 247, 247, 0.57);
    padding: 10px;
    background-color: #7BBEDD;
    position: fixed;
    right: 0;
    z-index: 100;
    width: 280px;
    margin-right: 20px;

    #menu_colorpick{
        
        h4{
            background-color: #f5f5f5;
            padding: 5px;
            border-top: 4px solid #156C7C;
        }

        #general_title{
            cursor: pointer;
        }

        #general_menu, #sections_menu{
            margin-left: 20px;
            li{
                margin: 10px 0; 
                overflow: hidden;

                .btn_left{
                    float: left;
                }     

                .right_inputs{
                    float: right;
                }     
            }
        }      

    }

    .colorpicker_input{
        width: 68px;
    }

    #result_tracking{
        overflow: auto;
        height: 100px;
        border: 2px solid #fff;
        width: 286px;
        white-space: -moz-pre-wrap; 
        white-space: -pre-wrap; 
        white-space: -o-pre-wrap; 
        white-space: pre-wrap;
        word-wrap: break-word; 
    }

    #btn-render a{
        color: #fff;
        text-decoration: none;
    }

}

#form_replace-links{
    input{
        margin-bottom: 22px;
        width: 560px;
    }
}

/* 
 * Newsletter
 */

.newsletter{
   
    .section{
    
        td{position: relative;
            &:hover{
                border: 1px dotted;
            }

            .croix{
                position: absolute;
                right: 0;
            }
        }
    }

    #options_sections{
        position: absolute;
        left: 0;
    }

}


#settingsOutput{
    clear: both;
    float: left;

    button{
        margin: 10px 0 0 10px;
    }
}



.generate_zone{
    width: 100%;
    height: 700px;
    outline: none;
    background-color: rgba(#f5f5f5,.3);
    resize:none;
}

.colpick_hex{
    z-index: 200;
}

#fileinput{
    margin: 20px 0;
}

/* 
 * Drag and drop
 */

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    .jumbotron {
        border-bottom: 0;
    }
}