<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Outdor-kollektion 2014</title>
<link rel="stylesheet" href="../../bower_components/angular-bootstrap-colorpicker/css/colorpicker.css">
<style type="text/css">
.ExternalClass * {
	line-height: 100%;
}
body {
	-webkit-text-size-adjust:none;
}
a,area{
	outline-color:rgba(0,0,0,0);
	border: 0;
}
@media only screen and (max-device-width: 480px) {
	body {font-size:1em;line-height: 12px;}
}
</style>
</head>

<body style="margin:0; background:{{getColor.color_bg}};">
<br>
<table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="{{getColor.color_bg}}" style="background:{{getColor.color_bg}};">
	<tr>
		<td>
			<table align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="background:{{getColor.color_bg}};">
				<tr>
					<td align="center" width="100%" style="color:{{getColor.color_text}}; font-size:11px; font-family:Arial, Helvetica, sans-serif; padding-bottom:16px;">Es lebe der Sommer!
<br>
						Um alle unsere E-Mails zu erhalten, fügen Sie bitte <a style="color:{{getColor.color_text}}; text-decoration:underline;" href="ApprovedSender" dataminingname="newsletter@news.maisonsdumonde.com " tracking="Enabled" guid="" linktype="System">newsletter@news.maisonsdumonde.com</a> zu Ihrem Adressbuch hinzu!<br>
						<a style="color:{{getColor.color_text}}; text-decoration:underline;" href="MirrorPage" dataminingname="" tracking="Enabled" guid="" linktype="System">Diesen</a> Newsletter in einem Browser anzeigen. 
				  </td>
				</tr>
				        <tr>
          <td colspan="2" align="center"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de{{getTracking.begin}}" target="_blank" guid="003XO9X" tracking="Enabled" dataminingname="logo1.png" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/images_communes_structure/logo2-de.png" alt="Geben sie,ihrem zuhause stil" border="0" usemap="#Map2" style="display:block; border:none;"></a>
            <map name="Map2">
              <area onfocus="blur();" style="-webkit-outline-color:rgba(0,0,0,0) !important;outline-color:rgba(0,0,0,0) !important;outline-color:rgba(0,0,0,0);border: none !important;border: 0 !important;" shape="rect" coords="503,17,524,38" href="https://www.facebook.com/MaisonsduMonde" alt="facebook" target="_blank" guid="003XOAE" tracking="Enabled" dataminingname="" linktype="External" category="0">
              <area onfocus="blur();" style="-webkit-outline-color:rgba(0,0,0,0) !important;outline-color:rgba(0,0,0,0) !important;outline-color:rgba(0,0,0,0);border: none !important;border: 0 !important;" shape="rect" coords="563,15,585,37" href="https://twitter.com/mdm_de" alt="twitter" target="_blank" guid="003XOAF" tracking="Enabled" dataminingname="" linktype="External" category="0">
              <area onfocus="blur();" style="-webkit-outline-color:rgba(0,0,0,0) !important;outline-color:rgba(0,0,0,0) !important;outline-color:rgba(0,0,0,0);border: none !important;border: 0 !important;" shape="rect" coords="535,16,557,38" href="http://pinterest.com/maisonsdumonde/" alt="pinterest" target="_blank" guid="003XOAG" tracking="Enabled" dataminingname="" linktype="External" category="0">
          </map></td>
        </tr>
       <tr>
          <td bgcolor="#ffffff" style="padding:0 0 0 0;"><table align="center" cellpadding="0" cellspacing="0" border="0" width="600">
          
            <tr>
                <td><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/header1-de.jpg" alt="Outdor-kollektion 2014" style="display:block; border:none;" border="0"></a></td>
              </tr>
               <tr>
                <td><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/header2-fr.jpg" alt="Outdor-kollektion 2014" style="display:block; border:none;" border="0"></a></td>
              </tr>
                 <tr>
                <td colspan="2"><table align="center" cellpadding="0" cellspacing="0" border="0" width="600">
                    <tr>
                        <td colspan="2"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/second/left1-de.jpg" alt="descanso" style="display:block; border:none;" border="0"></a></td>
                        <td colspan="2" rowspan="3"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/second/right1.jpg" alt="descanso" style="display:block; border:none;" border="0"></a></td>
                          
                    </tr>
                    <tr>
                      <td width="40" height="39"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/second/border1.jpg" alt="descanso" style="display:block; border:none;" border="0"></a></td>
                      <td width="260" height="39" bgcolor="#41c1c2" style="padding:0 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff;background-color:#41c1c2;text-align:center;"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" style="text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff;background-color:#41c1c2;text-align:center;"><font style="text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff;background-color:#41c1c2;text-align:center;">Sonnenliegen, Sofas, Sessel, Couchtische …</font></a></td>
                    </tr>
                    <tr>
                      <td colspan="2"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/second/left2.jpg" alt="descanso" style="display:block; border:none;" border="0"></a></td>
                    </tr>
                    <tr>
                      <td colspan="2" rowspan="3"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/second/left3.jpg" alt="comer" style="display:block; border:none;" border="0"></a></td>
                      <td colspan="2"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/second/right2-de.jpg" alt="comer" style="display:block; border:none;" border="0"></a></td>
                    </tr>
                    <tr>
                      <td width="281" height="40" bgcolor="#feb12c" style="padding:0 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff;background-color:#feb12c;text-align:center;"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" style="text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff;background-color:#feb12c;text-align:center;">
                        <font style="font-family:Arial, Helvetica, sans-serif; font-size:12px;color:#fff;background-color:#feb12c;text-align:center;">Esstische, Stühle, Barstühle, Aperitifs …</font></a></td>
                      <td width="19"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/second/border2.jpg" alt="espiritu pop" style="display:block; border:none;" border="0"></a></td>
                    </tr>
                    <tr>
                      <td colspan="2"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/second/right3.jpg" alt="comer" style="display:block; border:none;" border="0"></a></td>
                    </tr>
                 
                  
                </table></td>
              </tr>
              
        
         
          <tr>
                <td colspan="2"><table align="center" cellpadding="0" cellspacing="0" border="0" width="600"><tr>
                <td colspan="2"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/second/left4-de.jpg" alt="decorativa" style="display:block; border:none;" border="0"></a></td>
                <td width="378" rowspan="3"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/second/right4-de.jpg" alt="decorativa" style="display:block; border:none;" border="0"></a></td>
                </tr>
                    <tr>
                      <td width="20"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/second/border3.jpg" alt="decorativa" style="display:block; border:none;" border="0"></a></td>
                      <td height="40" width="203" bgcolor="#bdc637" style="padding:0 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff;background-color:#bdc637;line-height:15px !important;text-align:center;"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" style="text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff;background-color:#bdc637;line-height:15px !important;text-align:center;">
                        <font style="font-family:Arial, Helvetica, sans-serif; font-size:12px;line-height:15px !important; color:#fff;background-color:#bdc637;text-align:center;">Statuen, Sonnenschirme, Kissen, <br>
Leuchten, Gartenarbeit …</font></a></td>
                    </tr>
                    <tr>
                      <td colspan="2"><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/statictemplate/nouvelle-collection-outdoor-2014.htm{{getTracking.end}}" target="_blank" guid="0044L8M" tracking="Enabled" dataminingname="header2.jpg" linktype="External" category="0"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/20141403_collection-outdoor/second/left5.jpg" alt="decorativa" style="display:block; border:none;" border="0"></a></td>
                    </tr>
                </table>   
          </td>
          </tr> 

<tr>						<td style="padding:0 0 0 0;">
									<table align="center" cellpadding="0" cellspacing="0" border="0" width="560">
								 <tr>
                      <td style="padding:0 0 0 0;"><img style="display:block; border:none;" src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/images_communes_structure/paiement-de.jpg" alt="prix fixes, prix justes"></td>
                    </tr>		
				  </table>
								</td>
			  </tr>
					  </table>
					</td>
</tr>
				<tr>
					<td style="padding:18px 0 0 0; border-bottom:#d1d3d4 solid 1px;">
						<table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
					       <td><a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de/cms/ipad-de.htm{{getTracking.end}}" target="_blank" ><img style="display:block; border:none;" src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/images_communes_structure/ipad-de.png" alt="IPAD-APP"></a></td>
								
						  </tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" valign="middle" bgcolor="#ffffff" style="border-bottom:#41c1c2 solid 8px; padding:12px 10px 10px 10px;">
						<img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/images_communes_structure/finden.jpg" alt="Wir sind auch auf" style="vertical-align:middle;">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://www.facebook.com/MaisonsduMonde" target="_blank"><img style="vertical-align:middle;border:none;" src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/images_communes_structure/logo_facebook_2_v2.png" alt="facebook"></a>						
						&nbsp;&nbsp;
						<a href="https://twitter.com/mdm_de" target="_blank"><img style="vertical-align:middle;border:none;" src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/images_communes_structure/twitter.jpg" alt="twitter"></a>
						&nbsp;&nbsp;
						<a href="http://pinterest.com/maisonsdumonde/" target="_blank"><img style="vertical-align:middle;border:none;" src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/images_communes_structure/logo_pinterest_2_v2.png" alt="Pinterest"></a>
					</td>
				</tr>
				<tr>
					<td align="center"><img src="http://images.mperf.com/images/Clients/m/MaisonDuMonde/images/0EM/images_communes_structure/footer_v2_alpha.png" alt="" style="display:block;"></td>
				</tr>
				<tr>
					<td align="center" style="padding:5px 0 15px 0; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#929292;">
						Sie erhalten diese E-Mail, weil Sie den Newsletter von Maisons du Monde abonniert haben. Gemäß dem französischen Datenschutzgesetz vom 06.01.1978 verfügen Sie über das Recht auf Einsichtnahme, Berichtigung und Löschung hinsichtlich aller Ihrer persönlichen Daten. Noch mehr Möbel finden Sie auf unserer <a href="{{getTracking.begin}}http://www.maisonsdumonde.com/DE/de{{getTracking.end}}" style="color:#929292;" target="_blank">Website</a> <br>und in unseren <a href="{{getTracking.begin}}http://catalogue.maisonsdumonde.com/DE/{{getTracking.end}}" style="color:#929292;" target="_blank">Online-Katalogen.</a>.
						<br><br>
						<p style="margin:0; text-align:center">
					    Für die Abmeldung vom Newsletter Maisons Du Monde verwenden Sie bitte <a style="color:#929292; text-decoration:underline;" href="001J5E" target="_blank" dataminingname="diesen Link." tracking="Enabled" guid="" linktype="Form" category="0">diesen Link.</a><br>
							© Maisons du Monde 2013
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
     <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script src="../../bower_components/firebase/firebase.js"></script>
    <!-- <script src="bower_components/angularfire/angularfire.min.js"></script> -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angularFire/0.5.0/angularfire.min.js"></script>
    <script src="../../bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>  
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="../../scripts/app.js"></script>
    <script src="../../scripts/generator/generator.js"></script>
    <script src="../../scripts/generator/emailing.js"></script>
</table>
</body>
</html>
