<button type="button" class="btn btn-primary btn-xs" remove-code>enlever</button>
<textarea class="generate_zone">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>[TITLE]</title>
    <style type="text/css">
      .ExternalClass * { line-height: 100%;}
      body,#body_style {-webkit-text-size-adjust: none;background-color:{{getColor.background.colour}};}
      a {outline-color:rgba(0,0,0,0);border: 0;}
      @media only screen and (max-device-width: 480px) { 

        body {font-size: 1em;line-height: 12px;}      
      }
    </style>
  </head>
    [GENERATE]
   </body>
</html>
</textarea>