    <nav id="menu" class="navbar col-sm-1">
        <ul id="menu_content" class="nav nav-pills nav-stacked">
            <li class="countries">
                <a class="title" href="#">kit</a>
                <ul class="nav nav-pills nav-stacked sub-menu">
                    <li ng-repeat="kit in main_countries" mdm-addactiveclass>
                        <a ui-sref=".kit_{{kit}}">{{kit}}</a>
                    </li>
                </ul>           
            </li>
            <li class="countries">
                <a class="title" href="#">kit700</a>
                <ul class="nav nav-pills nav-stacked sub-menu">
                    <li ng-repeat="kit700 in main_countries" mdm-addactiveclass>
                        <a ui-sref=".kit700_{{kit700}}">{{kit700}}</a>
                    </li>
                </ul>           
            </li>
            <li class="countries">
                <a class="title" href="#">news</a>
                <ul class="nav nav-pills nav-stacked sub-menu">
                    <li ng-repeat="news in all_countries" mdm-addactiveclass>
                        <a ui-sref=".news_{{news}}">{{news}}</a>
                    </li>
                </ul>           
            </li>
            <li class="countries">
                <a class="title" href="#">news700</a>
                <ul class="nav nav-pills nav-stacked sub-menu">
                    <li ng-repeat="news700 in all_countries" mdm-addactiveclass>
                        <a ui-sref=".news700_{{news700}}">{{news700}}</a>
                    </li>
                </ul>           
            </li>
        </ul>     
    </nav>
    
    <div id="settings" class="col-sm-2">
        <ul id="menu_colorpick" class="nav">
            <li>
                <h4 id="general_title">Général</h4>
                <ul id="general_menu" class="nav">
                    <li>
                        <button colorpicker colorpicker-fixed-position="true" ng-model="$parent.setColor.background.colour" type="button" class="btn_left btn btn-primary btn-xs">background</button> 
                        <div class="right_inputs">
                            <input class="colorpicker_input" ng-model="$parent.setColor.background.colour" type="text">
                            <button ng-model="$parent.setColor.background.colour" type="submit" class="btn btn-primary btn-xs ok_btn" ng-click="setGeneralColor()">OK</button> 
                        </div>
                    </li> 
                    <li>
                        <button colorpicker colorpicker-fixed-position="true" ng-model="$parent.setColor.text.colour" type="button" class="btn btn-primary btn-xs btn_left">texte header & footer</button> 
                        <div class="right_inputs">
                            <input class="colorpicker_input" ng-model="$parent.setColor.text.colour" type="text">
                            <button ng-model="$parent.setColor.text.colour" type="submit" class="btn btn-primary btn-xs ok_btn" ng-click="setGeneralColor()">OK</button> 
                        </div>
                    </li>  
                    <li>
                        <button colorpicker colorpicker-fixed-position="true" ng-model="$parent.setColor.border.colour" type="button" ng-click="setGeneralColor()" class="btn_left btn btn-primary btn-xs">bordure</button> 
                        <div class="right_inputs">
                            <input class="colorpicker_input" ng-model="$parent.setColor.border.colour" type="text">
                            <button ng-model="$parent.setColor.border.colour" type="submit" class="btn btn-primary btn-xs ok_btn" ng-click="setGeneralColor()">OK</button> 
                        </div>
                    </li>                 
                </ul>
            </li>

            <li>
                <h4 id="sections_title">Sections</h4>
                <ul id="sections_menu" class="nav">
                    <!-- <li ng-repeat="sectionColor in settingsSectionColor">
                        <button id="{{sectionColor.id}}" type="button" class="btn btn-primary btn-xs">{{sectionColor.label}}</button>
                    </li> -->
                </ul>
            </li>

            <li><h4>Render</h4>
                <button class="btn btn-primary btn-xs">
                	<a href="mail-render/index.html" target="_blank">HTMLail</a>
                </button>
            </li> 
        </ul>
    </div>

    <!-- <div class="modal fade" id="replace_links_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Remplacer les liens de trackings</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="form_replace-links">
                        <div class="input-group">
                            FR
                            <input type="text" class="form-control" ng-model="tracking.FR.begin" placeholder="Début tracking">
                            <input type="text" class="form-control" ng-model="tracking.FR.end" placeholder="Fin du tracking"><br>
                            <button class="btn btn-primary" ng-click="addTrackings()">Remplacer</button>
                        </div> 
                      
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    
    <div class="container newsletter" ui-view ng-model="newsletter" ng-controller="EmailingCtrl"></div>